<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<header class="header">
  <h2>Header</h2>
 <ul style="color: white; cursor: pointer;">
  <li routerLink="/pagina1"> Pagina 1 </li>
  <li routerLink="/pagina/uno"> Pagina 2</li>
 </ul>

</header>

<section>
  <div class="contenido">
    <router-outlet>

    </router-outlet>

   </div>
  <nav class="nav">
      Navbar
  </nav>
 
</section>

<footer class="footer">
  <h2>Footer</h2>
</footer>

</body>
</html>