.header{
    background-color: brown;
    height: auto;
    width: 100%;
    text-align: center;
}
.footer{
    background-color: rgb(42, 165, 48);
    height: auto;
    width: 100%;
    text-align: center;

}
.nav{
    background-color: rgb(61, 42, 165);
    height:500px;
    width: 250px;
    text-align: center;

    
}

.contenido{
    float: right;
    height:500px;
    width: 1200px;
    
}